/* A La Minute - stylesheet.css */

html.homepage,body.homepage{
  background-color: #E8E8E8;
  background: url(img/welcome-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  background-size: cover;
}
h1, p{
  color: #fff;
}
h1{
  position: absolute;
  top: 38%;
  left: 38%;
  right: 38%;
  z-index: 999;
}

ul.ul-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.recipeHeader{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.li-header {
    float: right;
}

li.li-header2 {
    float: right;
}

li.li-header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.li-header2 a{
	display:block;
	color: white;
	text-align: center;
	padding: 3px 5px;
	text-decoration:none;
}

li.li-header a:hover:not(.active) {
  background-color: #111;
}

li.li-header2 a:hover:not(.active) {
  background-color: #111;
}
li.recipelink{
  list-style-type: none;
  font-size: 20px;
  float: left;
}
li.recipelink a{
  display: block;
  text-decoration: none;
  /*display: block;*/
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  /*color: rgba(1, 151, 171, 1);*/
  color: white;
  font-size: 15px;
  padding: 5px 3px;
}
li.recipelink a:hover:not(.active) {
  color: rgba(1, 151, 171, 1);
}
li.infoButton{
  float: right;
  /*position: relative;
  z-index: 1;*/
  display:block;
  /*padding-top: 0px;
  padding-right: 0px;*/
  list-style-type: none;

}
.matchesHeader{
  margin:0;
  padding:0;
  z-index: 999;

}
.addMealsHeader{
  text-align: center;
}
.ingredients{
  width: auto;
  height: auto;
  display:inline-block;
  background-color: #f4511e;
  overflow:visible;
  border-radius: 6px;
  margin-top: 10px;
}
li.ing_name {
  color: white;
  list-style-type: none;
  padding: 3px 5px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}
ul.recipe-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.recipecounter{
  /*display: block;*/
  /*padding: 10px 10px;*/
  color:#fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-decoration: none;
   list-style-type: none;
}
li.infoHeader{
  /*display: block;*/
  float: right;
  overflow:hidden;
  color:#fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-decoration: none;
   list-style-type: none;
}
li.infoHeaderImg{
  float:right;
  padding-right: 50px;
}
.recipecounter,.infoHeader{
  padding: 10px 10px;
}
.RecipeCountHeader{
  position: absolute;
  /*display:block;*/
  float: right;
  width:100%;
  height: 40px;
  background-color: #12BEC2; /*#451134*/
  margin-left: 0px;
  overflow: hidden;
  z-index: 0;

}
.moreIngredientsView{
  background: url("/alaminute/img/info.png");
  background-size: 28px 30px;
  outline:none;
  border:none;
  background-repeat:no-repeat;
  cursor:pointer;
  width: 30px;
  height: 30px;
  margin: 1px;
}
.moreIngredientsDiv{
  background: #000;
  /*opacity: 0.5;*/
  width: 200px;
  height: 50px;
  color: #fff;
  display: none;
}
.deleteIngDiv{
  background: url('http://i.imgur.com/z4Pea.png');
  outline:none;
  border:none;
  background-repeat:no-repeat;
  cursor:pointer;
  width:11px;
  height:11px;
}
.results{
  position:absolute;
  background: #fff;
  width: 500px;
  height: 500px;
}
.recipeimg{
  float:left;
  padding-top: 0px;
}
.recipeinfo{
  width:250px;
  height:33px;
  background-color: #000;
  z-index: 0;
  position: absolute;
  /*top:100%;*/
  opacity:0.65;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 3px;
}
.reciperesult{
  width: 250px;
  height: 200px;
  /*margin: 10px 10px 10px 10px;*/
  /*padding: 0;
  border:0;*/
  display:inline-block;
  /*vertical-align:top;*/
  /*float: left;*/
  /*position: relative;*/
  background-color: #F0F0F0;
  overflow:visible;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.invalidAdd{
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: #cc0000;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}
.searchResults{
  position: relative;
  float: top;
  width: 300px;
  height: 30px;
  background-color: #fff;
  margin-left: 10px;
  z-index: 1;
}
.searchResultsText{
  font-size: 20px;
  color: #686868;
  text-align: left;
}
.backgroundimg{
  margin:0;
  float:left;
  width:100%;
  height:10%;
  /*background-size : 100%;*/
}
.clearFilterButton, .clearingbutton{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:6px;
  border-bottom-width:8px;
  border-width:1px 1px 5px; box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); cursor:pointer; user-select:none; transition:0.4s ease; 
  
}
.infoHeader, .recipecounter{
  font-size: 18px;
}
.clearFilterButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background:hsl(176,59%,59%);
}
.clearingbutton { 
  background:hsl(104,51%,62%);
}
.addbutton{
  background: url("/alaminute/img/add.png");
  background-size: 25px 25px;
  background-position: bottom;
  outline:none;
  border:none;
  background-repeat:no-repeat;
  cursor:pointer;
  width:25px;
  height:25px;
  margin-right: 15px;
}
.searchbutton{
  background: url("/alaminute/img/search.png");
  background-size: 25px 25px;
  background-position: bottom;
  outline:none;
  border:none;
  background-repeat:no-repeat;
  cursor:pointer;
  width:25px;
  height:25px;

}
.welcome{
  text-align: center;
  position: absolute;
  width: 500px;
  height:250px;
  z-index:15;
  top:50%;
  left:50%;
  margin: -100px 0 0 -250px;
  background-color:black;
  z-index:0;
  opacity:0.5;
  border-radius: 35px;
}
.credits{
  text-align: center;
  position: fixed;
  width: 500px;
  height:200px;
  z-index:15;
  top:100%;
  left:50%;
  margin: -100px 0 0 -250px;
}
.active-header{
  background-color: #4CAF50;
}
.title-header{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mykitchen{
  background-color: #E8E8E8 ;
  position: absolute;
  /*margin: 0;*/
  padding: 0;
  float: left;
  width: 250px;
  height: 100%;
}
.matches{
  background-color: #fff ;
  position: absolute;
  padding:0px 250px;
  padding-top: 0px;
  /*margin: 0;
  
  /*float: left;*/
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.searchbox{
  margin: 15px 20px 0px 0px; /*top, right, bottom, left*/
  width: 150px;
  height: 25px;
  text-align: left;
  padding: 5px;
  vertical-align: center;
  border-radius: 10px;
  border: 0px;
}
.addbox{
  margin: 15px 20px 0px 20px; /*top, right, bottom, left*/
  width: 150px;
  height: 25px;
  text-align: left;
  padding: 5px;
  vertical-align: center;
  border-radius: 10px;
  border: 0px;
}
.removebox{
  margin: 0px 0px 50px 10px;
  width: 150px;
  height: 25px;
  text-align: left;
  padding: 5px;
  vertical-align: center;
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  text-align: center;
  /*background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
*/
}

ul.ul-round {
  position: absolute;
  margin: 30px auto;
  text-align: center;
  top: 42%;
  left: 45%;
  z-index: 999;
}

li.li-round {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.red {
  background-color: rgba(239, 57, 50, 1);
  color: rgba(133, 32, 28, 1);
  border-color: rgba(133, 32, 28, .2);
}

a.red:hover {
  color: rgba(239, 57, 50, 1);
}

a.green {
  background-color: rgba(1, 151, 171, 1);
  color: rgba(0, 63, 71, 1);
  border-color: rgba(0, 63, 71, .2);
}

a.green:hover {
  color: rgba(1, 151, 171, 1);
}

a.yellow {
  background-color: rgba(252, 227, 1, 1);
  color: rgba(153, 38, 0, 1);
  border-color: rgba(153, 38, 0, .2);
}

a.yellow:hover {
  color: rgba(252, 227, 1, 1);
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.green span {
  background: rgba(0, 63, 71, .7);
}

.red span {
  background: rgba(133, 32, 28, .7);
}

.yellow span {
  background: rgba(161, 145, 0, .7);
}

/*--------------
 a { font-size:1.1em; padding:24px 26px; display:inline-block; margin:5px; border-radius:6px; border:solid rgba(0,0,0,0.2); border-width:1px 1px 5px; box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); cursor:pointer; user-select:none; transition:0.4s ease; }

a:hover { transform:translateY(-3px); box-shadow:0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4); border-bottom-width:8px; }

a:active { transform:translateY(4px); box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4); border-bottom-width:2px; transition:0.1s ease; }

.red { background:hsl(8,59%,59%); color:rgba(255,255,255,0.95); text-shadow:-1px -1px 1px rgba(0,0,0,0.1); }
.orange { background:hsl(41,76%,65%); }
.yellow { background:hsl(50,81%,65%); }
.green { background:hsl(104,51%,62%); }
.blue { background:hsl(176,59%,59%); }*/
